{% extends 'base.html.twig' %}

{% block body %}
            <ol class="list-group">
                {% for name, numero in app.session.get('users') %}
                <li class="list-group-item
                {% if loop.first %}
                     list-group-item-primary
                {% else %}
                        {% if loop.index is odd %}
                        list-group-item-warning
                        {% else %}
                        list-group-item-danger
                        {% endif %}
                {% endif %}
                ">    {{ name }} : {{ numero }}</li>
                {% else %}
                    <h1>Vous n'avez encore aucun utilisateur</h1>
                {% endfor %}
            </ol>
{% endblock %}

{% block title %}
    Session Maagement
{% endblock %}

{% block pageTitle %}
    Page de gestion de Session
{% endblock %}


